<!doctype html>
<title>Add Chef</title>
<h2>Add Chef</h2>
<form method="post" action="/add_chef">
    <dl>
        <p>
			<input name="inputName" value="" type="text" placeholder="Name" autocomplete="off" required>
		</p>
		<p>
			<input name="inputContact" value="" type="text" placeholder="Contact" autocomplete="off" required>
		</p>
		<p>
			<input name="inputCakes" value="" type="text" placeholder="Best Cakes" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>