<!doctype html>
<title>Edit Recipe</title>
<h2>Edit Recipe</h2>
<form method="post" action="/update_recipe">
    <dl>
		<p>
			<input name="inputIngredients" value="{{ row['ingredients'] }}" type="text" placeholder="Ingredients" autocomplete="off" required>
		</p>
		<p>
			<input name="inputDescription" value="{{ row['description'] }}" type="text" placeholder="Description" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input name="id" value="{{ row['recipe_id'] }}" type="hidden">
		<input type="submit" value="Submit">
	</p>
</form>